<h1>Sign Up</h1>
<div ng-controller="signupController">
    <form>
        <input ng-model="signupForm.username" type="text" name="username" placeholder="Username" /><br /><br />
        <input ng-model="signupForm.password" type="text" name="password" placeholder="Password" /><br /><br />
        <input ng-model="signupForm.firstname" type="text" name="firstname" placeholder="Firstname" /><br /><br />
        <input ng-model="signupForm.lastname" type="text" name="lastname" placeholder="Lastname" /><br /><br />
        <input ng-model="signupForm.email" type="text" name="email" placeholder="Email" /><br /><br />
        <input ng-model="signupForm.phone" type="number" name="phone" placeholder="Phone" /><br /><br />
        <input ng-model="signupForm.location" type="text" name="location" placeholder="Location" /><br /><br />
        <button ng-click="signup()" >Sign up</button>
        <button ng-click="gotologin()" >Cancel</button><br /><br />
    </form>
</div>